
body
{   
    margin: 0 5% 0 10%;
    font-family: 'Ubuntu', sans-serif;
    background-image: url("../imagenes/muro.jpg") ; 
}

/*la parte superior de el portafolio*/

.cabezera
{ 
    
    display: flex;
    background-color: #1b2127;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    height: 90px;
    max-width: 2600px;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}

.navegacionOMenu
{
    height: inherit;
}
.cabezera ul
{
    
    display: flex;
    height: inherit;
    margin: 0;
    list-style: none;
}
.cabezera ul li{
    height: inherit;
}
.cabezera a{
    color:rgb(255, 255, 255);
    text-decoration: dashed;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0px 10px;
   
   
}

figure
{
    margin: 0;
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 400;
      
}
/*descripcion personal */
.seccionHero
{
    
    display: flex;
    flex-wrap: wrap;
    background-color: #1b2127;
    align-items: center;
    justify-content: space-between;
    max-width: 2600px;
    margin: 0 auto;
}
.imagehero
{
    object-fit: cover;
    height: 50%;
    width: 40%;
}

h1{
    line-height: 50px;
    font-size: 30px;
    letter-spacing: -.4px;  
    width: 600px; 
    color: aliceblue;
    margin: 30px;
}
h1 strong{
    color: #8485FE;
}
/*curso seccion experiencia conocimiento*/
.titleCours
{
    margin: 0 100px;
}
.cours
{
  background-color: rgba(255, 255, 255, 0.767);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 2600px;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
    height: 90%;
}

.titleCours
{
    margin:0;
    background-color: #8485FE;
    border: #8485FE 20px solid;
    border-radius: 0 200px 200px 0;
    color: #fdfdfd;
}
.textconocimiento
{
    margin: 30px auto;
    background-color: #d0d7ded3;
    border: #d0d7ded3 1px;
    border-radius: 10px;
    width: 40%;
      
}
.imageContainer
{
    width: 50%;
}
.portfolioImage{
    width: 100%;

}
.textconocimiento h3,h4
{
    text-transform: capitalize;
    text-align: center;
}
.textconocimient p
{
    text-transform: initial;
    text-align: center;
}
.titulosotorgados
{
    background-color:#bcc3ca ;
    border: #bcc3ca 1px solid;
    border-radius: 10px;
    text-align: center;
    
}
.titulosotorgados strong a
{
    text-decoration: none;
    margin: 20px;
    color: #000;
    text-transform: capitalize;
}
.continerimagDiploma
{
    width: 50%;
}
.imagDiploma
{
  width: 100%;  
}
.cursoActual
{
    margin: 30px auto;
    background-color: #d0d7ded3;
    border: #d0d7ded3 1px;
    border-radius: 10px;
    width: 40%;
    text-align: center;
    
}

.seccionExperiencia h2
{
    padding: 30px;
}

/*experiencia conferencias o vides*/
.seccionExperiencia h2
{
    margin: 0 100px;
}
.experience
{
    background-color: rgba(255, 255, 255, 0.76);
    border: rgba(255, 255, 255, 0.76) 1px solid;
    border-radius: 10px;
    align-items: center;
    max-width: 2600px;
    display: flex;
    flex-wrap: wrap;
    margin: auto auto;
    justify-content: center;


}


.seccionExperiencia h2
   {
    font-size: 1.5em;
    margin:0;
    background-color: #8485FE;
    border: #8485FE 1px solid;
    border-radius: 0 200px 200px 0;
    color: #fdfdfd;
   }

.tecnologias 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin:0 0;
    padding: 0 0;
    text-align: center;
}
.c
{
    display: flex;
    flex-wrap: wrap;
    background-color:#D7DDE3;
    width: 40%;
    border: #D7DDE3 1px solid;
    border-radius: 10px;
    margin: 1%;
    
}
.continerimagc
{
    width: 100%;
    height: 50%;
}
.c img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.cdescripcion
{
    margin: 20px;
    background-color: #cbd2d8;
    margin-top: -100px;
    position: relative;
    padding: 20px 40px;
    text-align: center;
    border-radius: 10px;
   
}
.linkc strong a
{
    text-decoration: none;
    color: rgb(78, 75, 68);
    border: 1px solid;
    padding: 5px 20px;
    border-radius: 10px;

}
.java
{
    display: flex;
    flex-wrap: wrap;
    background-color:#DFDFDF;
    width: 40%;
    border: #DFDFDF 1px solid;
    border-radius: 10px;
    margin: 1%;
}
.continerimagjava
{
    width: 100%;
    height: 50%;
}
.java img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.javaDescripcion
{
    margin: 20px;
    background-color: #d1d0d0;
    margin-top: -100px;
    position: relative;
    padding: 20px 40px;
    text-align: center;
    border-radius: 10px;
    font-size: 1em;
}
.javaDescripcion strong a
{
    text-decoration: none;
    color: rgb(78, 75, 68);
    border: 1px solid;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 1.3em;
}
.python
{
    display: flex;
    flex-wrap: wrap;
    background-color:#d8d8d8d0;
    width: 40%;
    border: #d8d8d8d0 1px solid;
    border-radius: 10px;
    margin: 1%;
    object-fit: cover;
}
.continerimagpython
{
    width: 100%;
    height: 55%;
    
}
.imagePython
{
    width: 100%;
    height: 100%;

}
.pythonDescripcion
{
    margin: 20px;
    background-color: #d1d0d0;
    margin-top: -100px;
    position: relative;
    padding: 20px 40px;
    text-align: center;
    border-radius: 10px;
}
.pythonDescripcion strong a
{
    text-decoration: none;
    color: rgb(78, 75, 68);
    border: 1px solid;
    padding: 5px 20px;
    border-radius: 10px;
}
.arduino
{
    display: flex;
    flex-wrap: wrap;
    background-color:#D7DDE3;
    width: 40%;
    border: #d0d7ded3 1px solid;
    border-radius: 10px;
    margin:  1%;
    object-fit: cover;
}
.continerimgarduino
{
    width: 100%;
    height: 50%;
}
.arduino img
{
    width: 100%;
    height: 100%;
    
}
.continerimgarduino
{
    object-fit: cover;
}
.arduinoDiscrepcion
{
    margin: 20px;
    background-color: #cbd2d8;
    margin-top: -100px;
    position: relative;
    padding: 20px 40px;
    text-align: center;
    border-radius: 10px;
}
.arduinoDiscrepcion strong a
{
    text-decoration: none;
    color: rgb(78, 75, 68);
    border: 1px solid;
    padding: 5px 20px;
    border-radius: 10px
}
/*contactos*/
.contact
{
    background-color: #8485FE;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    max-width: 2600px;
    flex-wrap: wrap;
    margin: 0 auto;
   
    
}
.contact h3
{
    margin: 5px;
}
.formEmail input
{
    border-color:gray;
    border: #8485FE 1px solid;
    border-radius: 10px;
    border-style: solid;
    margin: 5px;
    padding: 5px 20px 5px 25px;
    background-image: url(../imagenes/imal.jpg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x:5px;
}
.formEmail button
{
    display: block;
    margin-top: 5px;
    margin: 5px;
    background: transparent;
    color: white;
    padding: 5px 30px;
    border: white 1px solid;
    border-radius: 10px;
}

.in
{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: #8485FE 1px solid;
    background-size: 50px 50px;
    justify-content: space-around;
    margin: 0 10px;

}
.in.twiter
{
    background-image: url(../imagenes/twiter.jpg);
    
}
.in.facebook
{
    background-image: url(../imagenes/facebook.jpg);
   
    
}
.in.git
{
    background-image: url(../imagenes/git.png);
    
}
.in.liker
{
    background-image: url(../imagenes/in.jpg);
   
}
/*pie*/
.footer
{
    background-color: #1B2127;
    display: flex;
    flex-wrap: nowrap;
    margin: 100;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    color: white;
    max-width: 2600px;
    margin: 0 auto;
}
.footer div p
{
    
    padding: 10px;
}
/* desktop first */

@media (max-width: 2640px) {
  
    .imaghero
    {
        height: 50%;
        width: 40%;
    }
}

@media (max-width: 1024px)
{
    .imaghero
    {
        height: 40%;
        width: 30%;

    }
    .h1{
        font-size: 60% 60%;
    }
    .cours
    {
        display: block;
    }
    .textconocimiento
    {
        margin: auto;
        width: 80%;
        font-size:16px;
    }
    .cursoActual
    {
        margin: auto;
       width: 80%;
       font-size: 16px;
    }
 
    .textconocimiento h3
    {
        font-size: 1.5em;
    }
    .textconocimiento p
    {
        font-size:1em;
    }
    .textconocimiento h4
    {
        font-size: 1.2em;
    }
    .titulosotorgados
    {
        margin: auto;
        width: 60%;
        font-size: 1em;
    }
    .portfoliDate strong
    {
        font-size: .8em;
    }
    .cursoActual h3
    {
        font-size: 1.5em;
    }  
    .cursoActual h4
    {
        font-size: 1.2em;
    }  
    .cursoActual p
    {
        font-size: 1em;
    } 
    .imagDiploma
    {
        margin: 5%;
    }
   .imageContainer{
    margin:auto;
   }
   .continerimagDiploma
   {
    margin: auto;
   }
   .seccionExperiencia h2
   {
    font-size: 20px;
    margin:0;
    background-color: #8485FE;
    border: #8485FE 1px solid;
    border-radius: 0 200px 200px 0;
    color: #fdfdfd;
   }
   .tecnologias
   {
    display: block;
   }
   .c
   {
    margin: 20px auto;
    width: 80%;
   }
   .java
   {
    margin: 20px  auto;
    width: 80%;
   }
   .python
   {
    margin:  20px auto;
    width: 80%;
   }
   .arduino
   {
    margin: 20px auto;
    width: 80%;
   }
    
   .cdescripcion
   {
       width: 100%;
       margin:0%;
       padding: 0%;
   }
   .javaDescripcion
   {
       width: 100%;
       margin: 0%;
       padding: 0%;
   }
   .pythonDescripcion
   {
       width: 100%;
       padding: 0%;
       margin: 0%;
   }
   .arduinoDiscrepcion
   {
       width: 100%;
       margin: 0%;
       padding: 0%;
   }
}


@media (max-width: 767px) {
    .cabezera
    {
        display: block;
        height: auto;
    }
    .figuraLogo
    {
        display: flex;
        justify-content: center;
        
    }
    .cabezera ul
    {
        display: block;
    }
    .cabezera ul li 
    {
        height: 50px;
    }
    .cabezera ul li a
    {
        justify-content: center;
    }
    
}

@media (max-width: 480px) {
    .textconocimiento
    {
        font-size:12px;
    }
    .cursoActual
    {

       font-size: 12px;
    }
    .contact 
    {
        
        width: 100%;
        justify-content: center;
       
    }
    .formEmail
    {   
        justify-content: center;
        width: 100%;
        padding: 0%;
        margin: auto;
    }
    .formEmail h3
    {
        margin:0 0 1% 32% ;
    }
    .formEmail input
    {
        margin:0% 0% 1% 25% ;
        padding: auto;
    }
    .formEmail button
    {
        margin:1% auto;
    }

    .social
    {
        width: 60%;
        margin: auto;
        justify-content: center;
    }
    .in
    {
        height: 35px;
        width: 35px;
        background-size: 35px 35px;

    }
    .cdescripcion
    {
        font-size: 12px;
    }
    .linkc strong
    {
        font-size: 1.5em;
    }
    .javaDescripcion
    {
        font-size: 12px;
    }
    .javaDescripcion strong
    {
        font-size: 1.5em;
    }
    .pythonDescripcion
    {
        font-size: 12px;
    }
    .pythonDescripcion strong
    {
        font-size: 1.5em;
    }
    .arduinoDiscrepcion
    {
        font-size: 12px;
    }
    .arduinoDiscrepcion strong
    {
        font-size: 1.5em;
    }
}

@media (max-width: 391px) {
    
    .contact
    {
        display: block;
    }
    .formEmail
    {
        width: 80%;
    }
    .formEmail h3
    {
        width: 70%;
        margin: auto;
        justify-content: center;
    }
    .formEmail input
    {
        width:80%;
        margin: 0% 0%;
    
    }
    .social
    {
        width: 50%;
    }
    .in
    {
        margin: auto;
        justify-content: center;
        height: 30px;
        width: 30px;
        background-size: 30px 30px;
    }
    .fotertext p
    {
        font-size: .8em;
        padding: auto;
    }
    .flechatext p
    {
        font-size: .8em;
        padding: auto;
    }
}